# Pandas-1 (Okuma, Seçme, Filtreleme)

Bu notebook, Pandas’ın **veri bilimi için çekirdek** kullanımını öğretir:

- DataFrame mantığı
- CSV okuma (`read_csv`)
- Kolon seçme (select)
- Satır seçme (loc/iloc)
- Filtreleme (boolean mask)
- Basit özetleme (`value_counts`, `describe`)
- Sıralama (`sort_values`)

## 1) Kurulum

In [ ]:
import pandas as pd
import numpy as np

pd.set_option("display.max_columns", 50)
pd.set_option("display.width", 120)
print("pandas sürümü:", pd.__version__)

pandas sürümü: 2.2.2

## 2) Mini DataFrame

Önce küçük bir veri ile DataFrame mantığını oturtalım.

In [ ]:
veri = {
    "siparis_id": [101, 102, 103, 104, 105],
    "sehir": ["İstanbul", "Ankara", "İstanbul", "İzmir", "Bursa"],
    "kategori": ["Elektronik", "Giyim", "Market", "Elektronik", "Market"],
    "adet": [1, 2, 5, 1, 3],
    "birim_fiyat": [12000, 850, 90, 35000, 150],
    "odeme_yontemi": ["Kredi Kartı", "Banka Kartı", "Havale/EFT", "Kredi Kartı", "Kapıda Ödeme"]
}

df = pd.DataFrame(veri)
df

   siparis_id     sehir    kategori  adet  birim_fiyat odeme_yontemi
0         101  İstanbul  Elektronik     1        12000   Kredi Kartı
1         102    Ankara       Giyim     2          850   Banka Kartı
2         103  İstanbul      Market     5           90    Havale/EFT
3         104     İzmir  Elektronik     1        35000   Kredi Kartı
4         105     Bursa      Market     3          150  Kapıda Ödeme

### 2.1) DataFrame'in temel bilgileri

In [ ]:
print("Satır, sütun:", df.shape)
print("Kolonlar:", list(df.columns))
df.info()

Satır, sütun: (5, 6)
Kolonlar: ['siparis_id', 'sehir', 'kategori', 'adet', 'birim_fiyat', 'odeme_yontemi']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   siparis_id     5 non-null      int64
 1   sehir          5 non-null      object
 2   kategori       5 non-null      object
 3   adet           5 non-null      int64
 4   birim_fiyat    5 non-null      int64
 5   odeme_yontemi  5 non-null      object
dtypes: int64(3), object(3)
memory usage: 372.0+ bytes

## 3) Kolon Seçme (Select)

### 3.1) Tek kolon seçme

In [ ]:
df["sehir"]

0    İstanbul
1      Ankara
2    İstanbul
3       İzmir
4       Bursa
Name: sehir, dtype: object

### 3.2) Birden fazla kolon seçme

In [ ]:
df[["siparis_id", "kategori", "adet", "birim_fiyat"]]

   siparis_id    kategori  adet  birim_fiyat
0         101  Elektronik     1        12000
1         102       Giyim     2          850
2         103      Market     5           90
3         104  Elektronik     1        35000
4         105      Market     3          150

### 3.3) Yeni kolon üretme (toplam tutar)

In [ ]:
df["toplam_tutar"] = df["adet"] * df["birim_fiyat"]
df

   siparis_id     sehir    kategori  adet  birim_fiyat odeme_yontemi  toplam_tutar
0         101  İstanbul  Elektronik     1        12000   Kredi Kartı         12000
1         102    Ankara       Giyim     2          850   Banka Kartı          1700
2         103  İstanbul      Market     5           90    Havale/EFT           450
3         104     İzmir  Elektronik     1        35000   Kredi Kartı         35000
4         105     Bursa      Market     3          150  Kapıda Ödeme           450

## 4) Satır Seçme: `iloc` ve `loc`

### 4.1) `iloc` (index numarası ile)

In [ ]:
df.iloc[0]

siparis_id               101
sehir               İstanbul
kategori          Elektronik
adet                       1
birim_fiyat            12000
odeme_yontemi    Kredi Kartı
toplam_tutar           12000
Name: 0, dtype: object

### 4.2) `iloc` ile satır aralığı

In [ ]:
df.iloc[0:3]

   siparis_id     sehir    kategori  adet  birim_fiyat odeme_yontemi  toplam_tutar
0         101  İstanbul  Elektronik     1        12000   Kredi Kartı         12000
1         102    Ankara       Giyim     2          850   Banka Kartı          1700
2         103  İstanbul      Market     5           90    Havale/EFT           450

### 4.3) `loc` (etiket ile)

Bizde index 0..n olduğu için `loc[0]` ilk satırı verir.

In [ ]:
df.loc[0]

siparis_id               101
sehir               İstanbul
kategori          Elektronik
adet                       1
birim_fiyat            12000
odeme_yontemi    Kredi Kartı
toplam_tutar           12000
Name: 0, dtype: object

## 5) Filtreleme (Boolean Mask)

### 5.1) Şehir İstanbul olanlar

In [ ]:
df[df["sehir"] == "İstanbul"]

   siparis_id     sehir    kategori  adet  birim_fiyat odeme_yontemi  toplam_tutar
0         101  İstanbul  Elektronik     1        12000   Kredi Kartı         12000
2         103  İstanbul      Market     5           90    Havale/EFT           450

### 5.2) Elektronik ve fiyatı 20.000 üstü olanlar

In [ ]:
df[(df["kategori"] == "Elektronik") & (df["birim_fiyat"] > 20000)]

   siparis_id  sehir    kategori  adet  birim_fiyat odeme_yontemi  toplam_tutar
3         104  İzmir  Elektronik     1        35000   Kredi Kartı         35000

### 5.3) `isin()` ile filtreleme (kategori seçme)

In [ ]:
df[df["kategori"].isin(["Market", "Giyim"])]

   siparis_id     sehir kategori  adet  birim_fiyat odeme_yontemi  toplam_tutar
1         102    Ankara    Giyim     2          850   Banka Kartı          1700
2         103  İstanbul   Market     5           90    Havale/EFT           450
4         105     Bursa   Market     3          150  Kapıda Ödeme           450

## 6) Sıralama (sort)

In [ ]:
df.sort_values("birim_fiyat", ascending=False)

   siparis_id     sehir    kategori  adet  birim_fiyat odeme_yontemi  toplam_tutar
3         104     İzmir  Elektronik     1        35000   Kredi Kartı         35000
0         101  İstanbul  Elektronik     1        12000   Kredi Kartı         12000
1         102    Ankara       Giyim     2          850   Banka Kartı          1700
4         105     Bursa      Market     3          150  Kapıda Ödeme           450
2         103  İstanbul      Market     5           90    Havale/EFT           450

## 7) Basit özet: `value_counts` ve `describe`

In [ ]:
df["kategori"].value_counts()

kategori
Elektronik    2
Market        2
Giyim         1
Name: count, dtype: int64

In [ ]:
df[["adet", "birim_fiyat", "toplam_tutar"]].describe()

          adet   birim_fiyat  toplam_tutar
count  5.00000      5.000000      5.000000
mean   2.40000   9618.000000   9920.000000
std    1.67332  15060.075365  14834.613241
min    1.00000     90.000000    450.000000
25%    1.00000    150.000000    450.000000
50%    2.00000    850.000000   1700.000000
75%    3.00000  12000.000000  12000.000000
max    5.00000  35000.000000  35000.000000

## 8) CSV okuma (`read_csv`)
Bu kısımda kendi ürettiğimiz CSV üzerinden devam edeceğiz.

Veri: ybs_satis_verisi.csv

Not: Dosya aynı notebook klasöründe olmalı.

In [ ]:
df2 = pd.read_csv("ybs_satis_verisi.csv")
df2.head(5)

,siparis_id,musteri_id,sehir,kategori,urun,adet,birim_fiyat,indirim_orani,satis_kanali,odeme_yontemi,siparis_tarihi,teslimat_gun,memnuniyet_puani,iptal_edildi
0,100001,1130,Adana,Kozmetik,Parfüm,3,2356.70,0.20,Web,Havale/EFT,2025-03-21,3,3,0
1,100002,1474,Kocaeli,Ev-Yaşam,Nevresim,4,11270.01,0.05,Mobil,Kredi Kartı,2025-03-31,3,1,0
2,100003,3435,Kocaeli,Market,Çay,4,584.78,0.10,Mobil,Kapıda Ödeme,2025-06-12,1,4,0
3,100004,1034,Konya,Elektronik,Powerbank,2,17651.03,0.05,Web,Kapıda Ödeme,2025-02-28,4,4,0
4,100005,5911,Ankara,Elektronik,Powerbank,4,14371.14,0.05,Mağaza,Kredi Kartı,2025-08-19,4,5,0

### 8.1) Veri tipi kontrolü

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   siparis_id        300 non-null    int64
 1   musteri_id        300 non-null    int64
 2   sehir             300 non-null    object
 3   kategori          300 non-null    object
 4   urun              300 non-null    object
 5   adet              300 non-null    int64
 6   birim_fiyat       300 non-null    float64
 7   indirim_orani     300 non-null    float64
 8   satis_kanali      300 non-null    object
 9   odeme_yontemi     300 non-null    object
 10  siparis_tarihi    300 non-null    object
 11  teslimat_gun      300 non-null    int64
 12  memnuniyet_puani  300 non-null    int64
 13  iptal_edildi      300 non-null    int64
dtypes: float64(2), int64(6), object(6)
memory usage: 32.9+ KB

### 8.2) Tarih kolonunu datetime'a çevirme

In [ ]:
df2["siparis_tarihi"] = pd.to_datetime(df2["siparis_tarihi"])
df2.dtypes

siparis_id                   int64
musteri_id                   int64
sehir                       object
kategori                    object
urun                        object
adet                         int64
birim_fiyat                float64
indirim_orani              float64
satis_kanali                object
odeme_yontemi               object
siparis_tarihi      datetime64[ns]
teslimat_gun                 int64
memnuniyet_puani             int64
iptal_edildi                 int64
dtype: object

## 9) Select — Sadece gerekli kolonları seçme

In [ ]:
df2_kucuk = df2[["siparis_id", "sehir", "kategori", "urun", "adet", "birim_fiyat"]]
df2_kucuk.head()

   siparis_id    sehir    kategori       urun  adet  birim_fiyat
0      100001    Adana    Kozmetik     Parfüm     3      2356.70
1      100002  Kocaeli    Ev-Yaşam   Nevresim     4     11270.01
2      100003  Kocaeli      Market        Çay     4       584.78
3      100004    Konya  Elektronik  Powerbank     2     17651.03
4      100005   Ankara  Elektronik  Powerbank     4     14371.14

## 10) Filtreleme örnekleri (gerçekçi senaryolar)

### 10.1) İstanbul + Elektronik satışları

In [ ]:
istanbul_elektronik = df2[(df2["sehir"] == "İstanbul") & (df2["kategori"] == "Elektronik")]
istanbul_elektronik.head()

,siparis_id,musteri_id,sehir,kategori,urun,adet,birim_fiyat,indirim_orani,satis_kanali,odeme_yontemi,siparis_tarihi,teslimat_gun,memnuniyet_puani,iptal_edildi
150,100151,1363,İstanbul,Elektronik,Powerbank,4,44165.02,0.10,Web,Kredi Kartı,2025-12-28,7,1,0
198,100199,2070,İstanbul,Elektronik,Mouse,5,36375.72,0.10,Mobil,Kapıda Ödeme,2025-09-12,1,3,0
206,100207,1526,İstanbul,Elektronik,Klavye,4,39150.54,0.05,Web,Kredi Kartı,2025-12-10,4,2,0

### 10.2) İndirim oranı %10 ve üzeri olanlar

In [ ]:
df2[df2["indirim_orani"] >= 0.10].head()

,siparis_id,musteri_id,sehir,kategori,urun,adet,birim_fiyat,indirim_orani,satis_kanali,odeme_yontemi,siparis_tarihi,teslimat_gun,memnuniyet_puani,iptal_edildi
0,100001,1130,Adana,Kozmetik,Parfüm,3,2356.70,0.20,Web,Havale/EFT,2025-03-21,3,3,0
2,100003,3435,Kocaeli,Market,Çay,4,584.78,0.10,Mobil,Kapıda Ödeme,2025-06-12,1,4,0
6,100007,4561,İstanbul,Ev-Yaşam,Tava,1,9294.27,0.15,Mobil,Havale/EFT,2025-05-11,4,5,0
9,100010,4314,Bursa,Market,Kahve,5,314.97,0.20,Mobil,Kredi Kartı,2025-04-24,2,5,0
10,100011,3038,Ankara,Kozmetik,Şampuan,5,943.25,0.20,Web,Kapıda Ödeme,2025-12-08,3,5,0

### 10.3) Memnuniyet puanı 4-5 olanlar (between)

In [ ]:
df2[df2["memnuniyet_puani"].between(4, 5)].head()

,siparis_id,musteri_id,sehir,kategori,urun,adet,birim_fiyat,indirim_orani,satis_kanali,odeme_yontemi,siparis_tarihi,teslimat_gun,memnuniyet_puani,iptal_edildi
2,100003,3435,Kocaeli,Market,Çay,4,584.78,0.10,Mobil,Kapıda Ödeme,2025-06-12,1,4,0
3,100004,1034,Konya,Elektronik,Powerbank,2,17651.03,0.05,Web,Kapıda Ödeme,2025-02-28,4,4,0
4,100005,5911,Ankara,Elektronik,Powerbank,4,14371.14,0.05,Mağaza,Kredi Kartı,2025-08-19,4,5,0
5,100006,3062,Konya,Kozmetik,Parfüm,5,1214.94,0.05,Web,Kapıda Ödeme,2025-08-08,2,4,0
6,100007,4561,İstanbul,Ev-Yaşam,Tava,1,9294.27,0.15,Mobil,Havale/EFT,2025-05-11,4,5,0

### 10.4) Son 30 günün siparişleri

In [ ]:
son_30_gun = df2["siparis_tarihi"].max() - pd.Timedelta(days=30)
df2[df2["siparis_tarihi"] >= son_30_gun].head()

,siparis_id,musteri_id,sehir,kategori,urun,adet,birim_fiyat,indirim_orani,satis_kanali,odeme_yontemi,siparis_tarihi,teslimat_gun,memnuniyet_puani,iptal_edildi
18,100019,1098,Konya,Kozmetik,Diş Macunu,1,1954.73,0.10,Mobil,Kapıda Ödeme,2025-12-31,3,1,0
22,100023,3300,Konya,Ev-Yaşam,Termos,3,9002.90,0.20,Mobil,Kredi Kartı,2025-12-28,3,5,0
31,100032,3816,İstanbul,Ev-Yaşam,Süpürge,5,4854.24,0.05,Web,Kapıda Ödeme,2026-01-05,2,4,0
38,100039,2191,İzmir,Giyim,Elbise,5,2202.85,0.05,Mobil,Kredi Kartı,2026-01-12,3,2,0
42,100043,2250,Konya,Elektronik,Kulaklık,5,43363.40,0.15,Web,Kredi Kartı,2026-01-15,5,4,1

## 11) Sıralama + en pahalı 5 ürün satışı

In [ ]:
df2.sort_values("birim_fiyat", ascending=False).head(5)[
    ["siparis_id", "sehir", "kategori", "urun", "birim_fiyat", "adet"]
]

     siparis_id     sehir    kategori       urun  birim_fiyat  adet
269      100270   Kocaeli  Elektronik      Mouse     44979.70     3
256      100257     İzmir  Elektronik  Powerbank     44769.46     4
61       100062     İzmir  Elektronik     Laptop     44215.85     5
150      100151  İstanbul  Elektronik  Powerbank     44165.02     4
42       100043     Konya  Elektronik   Kulaklık     43363.40     5

## 12) Hızlı kontrol: kaç kayıt var? kaç şehir var?

In [ ]:
print("Toplam kayıt:", len(df2))
print("Şehir sayısı:", df2["sehir"].nunique())
print("Kategoriler:", df2["kategori"].unique())

Toplam kayıt: 300
Şehir sayısı: 8
Kategoriler: ['Kozmetik' 'Ev-Yaşam' 'Market' 'Elektronik' 'Giyim']