# Ödev — SQLite + Pandas read_sql

**Kapsam:**
- SELECT / WHERE / ORDER BY / LIMIT
- GROUP BY (1 örnek)
- JOIN (1 örnek)
- Pandas `read_sql_query` ile çekme adımı

**Veri:** `ybs_shop.sqlite` (notebook ile aynı klasörde olmalı)

## Kurulum

In [ ]:
import sqlite3
import pandas as pd

pd.set_option("display.max_columns", 80)
pd.set_option("display.width", 140)

print("Hazır!")

## 1) SQLite dosyasına bağlan

In [ ]:
from pathlib import Path

db_path = Path("ybs_shop.sqlite")
if not db_path.exists():
    raise FileNotFoundError("ybs_shop.sqlite bulunamadı. Dosyayı notebook ile aynı klasöre koyun.")

conn = sqlite3.connect(str(db_path))
pd.read_sql("SELECT name FROM sqlite_master WHERE type='table';", conn)

## 2) Tabloları gör (kontrol)

In [ ]:
tables = pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='table';", conn)
tables

## ÖDEV — Sorguyu yaz ve Pandas'a çek

### Görev-1 — Basit SELECT
`customers` tablosundan sadece şu kolonları çek:
- customer_id, name, city, segment

Sadece ilk 8 satırı getir (LIMIT).

In [ ]:
# Görev-1
# Sorgu yazılmayan hücreler çalıştırıldığında TypeError verebilir.

sql1 = """
-- BURAYA SORGU
"""
df1 = pd.read_sql_query(sql1, conn)
df1

### Görev-2 — WHERE filtreleme
`products` tablosundan:
- category = 'Electronics'
olan ürünleri çek ve
- unit_price'a gore pahalı -> ucuz sırala (DESC)
ilk 5 satırı getir.

In [ ]:
# Görev-2
# Sorgu yazılmayan hücreler çalıştırıldığında TypeError verebilir.

sql2 = """
-- BURAYA SORGU
"""

df2 = pd.read_sql_query(sql2, conn)
df2

### Görev-3 — GROUP BY özet
`orders` tablosunda:
- status = 'Delivered'
olan siparişleri al ve
- city bazında kaç sipariş var? (COUNT)

Sonucu sipariş sayısına göre büyükten küçüğe sırala, ilk 6 satır.

In [ ]:
# Görev-3
# Sorgu yazılmayan hücreler çalıştırıldığında TypeError verebilir.

sql3 = """
-- BURAYA SORGU
"""
df3 = pd.read_sql_query(sql3, conn)
df3

### Görev-4 — JOIN ile kategori bazında gelir
Asağıdaki tablolari kullan:
- orders (o)
- order_items (oi)
- products (p)

Sadece `Delivered` siparişleri için:
- p.category bazında toplam gelir (SUM(quantity * unit_price)) hesapla
- revenue büyükten küçüğe sırala
- ilk 5 kategori

In [ ]:
# Görev-4
sql4 = """
-- BURAYA SORGU
"""
df4 = pd.read_sql_query(sql4, conn)
df4

### Görev-5 — Pandas'a çekme adımı (tek satır)
Aşağıdaki soruyu **tek satirlik kod** ile cevapla:

"sql4 sorgusunun sonucunu Pandas DataFrame olarak nasıl alırsın?"

Cevap: `pd.read_sql_query(..., conn)` kullan.

In [ ]:
# Görev-5 (tek satır)
# df_sonuc = ...

In [ ]:
# Bağlantıyı kapat (en sonda)
conn.close()
print("Kapatıldı!")